apiVersion: v1
kind: Secret
metadata:
  name: mysecret
  namespace: kube-system
type: Opaque
data:
  accessKey: YWRtaW4=
  accessSecret: SGFyYm9yMTIzNDU=
---
apiVersion: goharbor.goharbor.io/v1alpha1
kind: HarborServerConfiguration
metadata:
  name: harborserverconfiguration-sample
spec:
  serverURL: goharbor.io
  accessCredential:
    namespace: kube-system
    accessSecretRef: mysecret
  version: 2.1.0
  default: false
---
apiVersion: goharbor.goharbor.io/v1alpha1
kind: HarborServerConfiguration
metadata:
  name: harborserverconfiguration-default
spec:
  serverURL: goharbor.io
  accessCredential:
    namespace: kube-system
    accessSecretRef: mysecret
  version: 2.1.0
  default: true
  rules:
    - registry: docker.io
      project: dockerhub-proxy-cache